<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="prioritized">
            <directory suffix="Test.php">./phpunit/prioritized</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="medium">
            <directory suffix="Test.php">./phpunit/medium</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="low">
            <directory suffix="Test.php">./phpunit/low</directory>
        </testsuite>
    </testsuites>
</phpunit>