<div class="form-douceur">
    <form action="/douceur/new" method="post" enctype="multipart/form-data"  id="douceur-form-create" data-toggle="validator">
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" pattern="^[a-zA-Z]{3,}$" class="form-control" name="name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="lastname">Prénom :</label>
            <input type="text" pattern="^[a-zA-Z]{3,}$" class="form-control" name="lastname" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="age">Age :</label>
            <input type="text" pattern="^[0-9]*" class="form-control" name="age" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="description">Description :</label>
            <textarea name="description" id="" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="file">Image :</label>
            <input type="file" name="file" class="filestyle" data-icon="false">
        </div>
        <div class="form-group">
            <input type="submit" value="Créer ma douceur !" class="btn btn-primary" id="btn-new-douceur">
        </div>
    </form>
</div>