<div class="row home-action">
    <a href="/douceur/new" class="btn btn-info" id="btn-create">Ajouter une nouvelle douceur</a>
    <a href="/band/new" class="btn btn-danger" id="btn-create-bands">Ajouter un nouveau groupe de douceur</a>
</div>
<div class="row home-action">
    
</div>