<a href="/douceur/edit/{{ douceur["douceur_id"] }}" class="btn btn-info" id="btn-edit">Modifier</a>
<a href="/douceur/delete/{{ douceur["douceur_id"] }}" class="btn btn-danger" id="btn-delete">Supprimer</a>