<div class="info">
    <span class="strong">Nom:</span><span class="douceur-name">{{ douceur["name"] }}</span><br>
    <span class="strong">Prénom:</span><span class="douceur-lastname">{{ douceur["lastname"] }}</span><br>
    <span class="strong">Age:</span><span class="douceur-age">{{ douceur["age"] }}</span><br>
    <span class="strong-description">Description :</span>
    <p class="douceur-description">{{ douceur["description"] }}</p>
</div>