<header>
    <div class="cycle">
        {% include 'header/title.html.twig' %}
    </div> <!-- /.cycle -->
    <div class="container">
        <div class="row">
        </div><!-- /.row -->
    </div>
</header>

